<div class="container">
  <div class="card">
    <h1 class="card-title mb-3" id="cubed"><strong>Triathlon App</strong></h1>
    <img
      src="../../assets/triathloncor.png"
      alt="triathlon"
      class="img-responsive"
    />
    <div class="opcao">
      <button
        type="button"
        class="btn btn-outline-success"
        routerLink="/personal-time"
      >
        Compare Personal Times
      </button>
    </div>
    <div class="opcao">
      <button
        type="button"
        class="btn btn-outline-success"
        routerLink="/preTime-test"
      >
        Compare with Pre-Defined Times
      </button>
    </div>
    <div class="opcao">
      <button
        type="button"
        class="btn btn-outline-success"
        routerLink="/addPreTime-test"
      >
        Insert Personal Time
      </button>
    </div>
    <div class="opcao">
      <button
        type="button"
        class="btn btn-outline-success"
        routerLink="/editDelete-time"
      >
        Edit / Delete Time
      </button>
    </div>
  </div>
</div>
